#J_container {
  width: 1200px;
  margin: 0 auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*弹框 start*/
.ui-modal .dialog-tips {
  text-align: center;
  font-size: 18px;
  margin: 10px auto;
}
.tips-error {
  display: none !important;
}
.ray-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  background-color: #fff;
  border: 5px solid rgba(178, 178, 178, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  outline: 0;
}
.ray-toast .ray-toast-content {
  vertical-align: middle;
  display: inline-block;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
}
div.custom-alert {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
div.custom-alert .black-background {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .5;
  position: absolute;
}
div.custom-alert section {
  border: 5px solid #cfcfcf;
  background-color: #fff;
  width: 440px;
  box-shadow: #e5e5e5 0 0 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}
div.custom-alert section .content {
  padding: 40px 0;
  text-align: center;
}
div.custom-alert section .content .icon_warning {
  width: 38px;
  height: 48px;
  background: url(../images/icon_warning.png) 0 0 no-repeat;
  display: inline-block;
}
div.custom-alert section .content p {
  font-size: 16px;
  color: #333;
}
div.custom-alert section > header {
  margin: 0 10px;
  padding: 10px 0 8px;
  border-bottom: 1px solid #ddd;
}
div.custom-alert section > footer {
  width: 100%;
  background-color: #fbfbfb;
  text-align: right;
  padding: 6px 10px;
  box-sizing: border-box;
}
div.custom-alert section > footer .btn-primary {
  margin-right: 10px;
}
