#J_page {
  position: relative;
}
#J_page .main_wrap {
  width: 1200px;
  margin: 0 auto;
}
#J_page #J_header {
  height: 90px;
}
#J_page #J_header .head_logo {
  float: left;
}
#J_page #J_header .head_logo .logo {
  display: block;
  width: 300px;
  height: 90px;
  background: url(../images/logo.png) no-repeat center;
}
#J_page #J_header .head_operate {
  float: right;
  width: 122px;
  height: 90px;
  line-height: 90px;
  padding-top: 30px;
}
#J_page #J_header .head_operate a {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #333;
}
#J_page #J_header .head_operate .icon-search {
  float: left;
  position: relative;
  border: 1px solid #ccc;
  background: url(../images/menus.jpg) no-repeat 0 0;
}
#J_page #J_header .head_operate .icon-search:hover {
  background-position: 0 -36px;
}
#J_page #J_header .head_operate .icon-menu {
  float: left;
  position: relative;
  margin-left: 4px;
  border: 1px solid #ccc;
  background: url(../images/menus.jpg) no-repeat -72px 0;
}
#J_page #J_header .head_operate .icon-menu:hover {
  background-position: -72px -36px;
}
#J_page #J_header .head_nav {
  float: right;
  width: 660px;
}
#J_page #J_header .head_nav ul li {
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 24px 18px;
  background: url(../images/nav-bg.jpg) no-repeat right;
  box-sizing: content-box;
}
#J_page #J_header .head_nav ul li:hover {
  border-bottom: 4px solid #ff5900;
}
#J_page #J_header .head_nav ul li a {
  display: block;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
#J_page #J_header .sub_nav {
  display: none;
  position: relative;
  top: 90px;
  width: 100%;
  height: 0;
  background: #3161ce;
  padding-left: 500px;
  box-sizing: border-box;
  z-index: 2;
}
#J_page #J_header .sub_nav.showing {
  display: block;
  height: 50px;
}
#J_page #J_header .sub_nav ul,
#J_page #J_header .sub_nav li {
  margin: 0;
  padding: 0;
}
#J_page #J_header .sub_nav ul {
  display: none;
  position: absolute;
}
#J_page #J_header .sub_nav ul.showing {
  display: block;
}
#J_page #J_header .sub_nav ul li {
  float: left;
  padding: 0 10px;
  font-size: 14px;
  width: 80px;
  height: 50px;
  line-height: 50px;
}
#J_page #J_header .sub_nav ul li:hover a {
  color: #fff;
}
#J_page #J_header .sub_nav ul li a {
  color: #90A7CE;
  text-decoration: none;
}
#J_page #J_footer {
  border-top: 1px solid #eee ;
}
#J_page #J_footer .footer_wrap {
  color: #4B4B51;
  width: 350px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}
#J_page #J_footer .footer_wrap .left {
  float: left;
}
#J_page #J_footer .footer_wrap .left p {
  margin: 5px 0;
}
#J_page #J_footer .footer_wrap .right {
  float: right;
  height: 50px;
  line-height: 50px;
}
#J_page #J_container {
  position: relative;
}
#J_page #J_container ul,
#J_page #J_container li {
  margin: 0;
  padding: 0;
}
#J_page #J_container .banner {
  position: absolute;
}
#J_page #J_container .banner .pics {
  position: relative;
  width: 300%;
  height: 475px;
}
#J_page #J_container .banner .pics li {
  float: left;
  width: 1200px;
  height: 475px;
}
#J_page #J_container .banner .arrow {
  position: absolute;
  top: 50%;
}
#J_page #J_container .banner .arrow#al {
  left: -50px;
  transition: left .5s;
  -moz-transition: left .5s;
  /* Firefox 4 */
  -webkit-transition: left .5s;
  /* Safari and Chrome */
  -o-transition: left .5s;
  /* Opera */
}
#J_page #J_container .banner .arrow#ar {
  right: -50px;
  transition: right .5s;
  -moz-transition: right .5s;
  /* Firefox 4 */
  -webkit-transition: right .5s;
  /* Safari and Chrome */
  -o-transition: lerightft .5s;
  /* Opera */
}
#J_page #J_container .banner:hover #al {
  left: 100px;
}
#J_page #J_container .banner:hover #ar {
  right: 100px;
}
#J_page #J_container .banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}
#J_page #J_container .banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
#J_page #J_container .banner .dots li.active {
  background: #fff;
  opacity: 1;
}
#J_page #J_container .news_wrap {
  width: 1200px;
  padding-top: 460px;
  padding-bottom: 30px;
  overflow: hidden;
}
#J_page #J_container .news_wrap .news {
  float: left;
  width: 500px;
}
#J_page #J_container .news_wrap .news h3 {
  font-size: 24px;
  color: #30395f;
  line-height: 30px;
  margin-bottom: 5px;
  font-family: "myriadsetpro-thin-webfont";
  font-weight: bold;
}
#J_page #J_container .news_wrap .news .news_nav {
  overflow: hidden;
}
#J_page #J_container .news_wrap .news .news_nav ul {
  float: left;
  width: 150px;
  height: 43px;
  overflow: hidden;
  list-style: none;
}
#J_page #J_container .news_wrap .news .news_nav ul li {
  float: left;
  width: 67px;
  height: 43px;
  line-height: 43px;
  background: #b5b5b5;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
}
#J_page #J_container .news_wrap .news .news_nav ul li.current {
  background: #3c3fab;
  color: #fff;
}
#J_page #J_container .news_wrap .news .news_content {
  overflow: hidden;
  position: relative;
  height: 110px;
}
#J_page #J_container .news_wrap .news .news_content ul {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  list-style: none;
}
#J_page #J_container .news_wrap .news .news_content ul li {
  width: 470px;
  height: 110px;
  display: block;
}
#J_page #J_container .news_wrap .news .news_content ul li h3 a {
  color: #666;
  font-size: 14px;
  font-weight: bold;
}
#J_page #J_container .news_wrap .news .news_content ul li p {
  margin-top: 10px;
  line-height: 18px;
  color: #817d77;
  font-size: 12px;
  font-family: "microsoft yahei";
}
#J_page #J_container .news_wrap .news_more {
  float: left;
  width: 50px;
  height: 120px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  top: 90px;
  right: -20px;
}
#J_page #J_container .news_wrap .news_more ul {
  list-style: none;
  width: 10px;
  height: 80px;
}
#J_page #J_container .news_wrap .news_more ul li {
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-bottom: 18px;
  border: 2px solid #A4ADCE;
  box-sizing: border-box;
  border-radius: 10px;
}
#J_page #J_container .news_wrap .news_more ul li.current {
  background: #A4ADCE;
}
#J_page #J_container .news_wrap .project {
  float: right;
  width: 650px;
  padding-top: 10px;
  overflow: hidden;
}
#J_page #J_container .news_wrap .project .left {
  float: left;
  width: 440px;
  height: 200px;
  background: url(../images/hotel.jpg) no-repeat center;
  background-size: cover;
  cursor: pointer;
}
#J_page #J_container .news_wrap .project .left:hover .name {
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#J_page #J_container .news_wrap .project .left .name {
  position: relative;
  top: 50px;
  left: -260px;
  width: 240px;
  height: 120px;
  background: #3c3fab;
  color: #fff;
  opacity: 0.7;
  padding: 10px 0 0 10px;
}
#J_page #J_container .news_wrap .project .right {
  float: right;
  width: 200px;
  height: 200px;
  background: url(../images/layout2.jpg) no-repeat center;
  cursor: pointer;
}
#J_page #J_container .news_wrap .project .right span {
  position: relative;
  left: 12px;
  top: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
