.wrap {
  position: absolute;
  width: 400px;
  top: 20px;
  left: 20px;
  padding: 20px 0 20px;
  font:18px '微软雅黑' sans-serif;
  margin-bottom: 36px;
  -webkit-animation: boxmoving 1.5s ease-out both;
}

@-webkit-keyframes boxmoving{
  0%{
    top:20px;
    left:50%;
    transform: translateX(-50%);
    width: 500px;
    padding: 40px 20px;
  }
  100%{
    top:20px;
    left: 20px;
    width: 400px;
    padding: 20px 0 20px;
  }
}
.wrap:before,.wrap:after{
  position: absolute;
  content: "";
  left: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
}
.wrap:before{
  border-left-color:#e6e6e6;
  border-width: 12px;
  top:18px;
}
.wrap:after{
  border-left-color: #fff;
  border-width: 10px;
  top: 20px;
}
.shadow {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #ececec;
  background: #fff;
}
#showDemo{
  position: fixed;
  top: 20px;
  left:450px;
  right: 20px;
  height: 520px;
}
.welcome{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #E5E5E5;
  text-align: center;
  font: 16px/2 '微软雅黑' sans-serif;
}
.list {
  padding: 0 15px;
  -webkit-animation: listpadding 1.5s ease-out both;
}
@-webkit-keyframes listpadding{
  0%{
    padding: 0 50px;
  }
  100%{
    padding: 0 15px;
  }
}
.list li {
  list-style: none;
  line-height: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.list li h1 {
  font: bold normal 20px/1.5 '微软雅黑' sans-serif;
}
.list li h1 a {
  display: block;
  padding: 5px 8px 4px 8px;
  transition: all 0.5s;
  color: #3E6FEA;
}
.list li h1 a:hover {
  border-radius: 10px;
}
.list li a:hover {
  text-indent: 20px;
  border-radius: 30px;
  color: #fff;
  text-shadow: 0 2px 1px #360;
  background-color: #393;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  text-decoration: none;
}
.sub-dl {
  display: none;
}
.sub-dl dd a {
  display: block;
  margin-left: 25px;
  color: #000;
  font-size: 12px;
  width: 300px;
  padding: 0;
}
